---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to the Oracle">
	<main>
		<h1 class="pt-10 text-4xl box-content">Welcome to <span class="text-gradient">the Oracle</span></h1>
		<p class="instructions text-center w-full">
			Find the answers you need for your <code>compliance</code> doubts, based on the wizardry of 
			<strong>proximity search</strong> across the Oracle's knowledgebase. I'm just a machine, though, so take what I say with a grain of salt!
		</p>
		<form id="search-form">
			<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
			<div class="relative">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
					</svg>
				</div>
				<input type="search" id="question" class=" m-auto mb-4 block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="What do you want to know?">
			</div>
			<div class="flex items-center pl-3">
				<input type="submit" class="mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/4 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Request the wisdom of the Oracle"/>
		</div>
		</form>
		<br/>
		<p class="response text-justify w-full" id="response-container">
			The <code>oracle's wisdom</code> will be displayed once the search is done
		</p>
	</main>

	<script>
		// Function to handle form submission
		document.getElementById('search-form')?.addEventListener('submit', function(event) {
		  event.preventDefault(); // Prevent default form submission
	  
		  // Get the question from the form input
		  
		  const question = (document.getElementById('question') as HTMLInputElement).value;
		  // Make a POST request to the API endpoint
		  fetch('http://localhost:8080/ask', {
			method: 'POST',
			headers: {
			  'Content-Type': 'application/json'
			},
			body: JSON.stringify({ question })
		  })
		  .then(response => response.json())
		  .then(data => {document.getElementById('response-container')!.innerHTML = data.response.metadata.answer + "<br/><br/> If you need more information, this response is assigned to the following team: <code>" + data.response.metadata.owner + "</code>";})
		  .catch(error => {
			console.error('Error:', error);
		  });
		});
	  </script>
	  
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: calc(75% - 2rem);
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	@media (pointer:none), (pointer:coarse) {
		main {
		width: auto;
		}
	}	

	h1 {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.response {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: #eb4961;
		padding: 1.5rem;
		border-radius: 8px;
	}
	.response code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: white;
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
</style>
